<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>СиТАиРИС</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
</head>

<body>
<div class="container">
    <header>
        <nav class="nav-class1">
            <ul class="list-menu1">
                <li><a th:href="@{/studentMainPage}" class="menu-item">MoveRight</a></li>
            </ul>
        </nav>
        <nav class="nav-class">
            <ul class="list-student-menu">
                <li><a th:href="@{/studentMainPage#education}" class="menu-item">Обучение</a></li>
                <li><a th:href="@{/studentMainPage#teachers}" class="menu-item">Преподаватели</a></li>
                <li><a th:href="@{/studentMainPage#reports}" class="menu-item">Отзывы</a></li>
                <div class="dropdown">
                    <li><a th:href="@{#}" class="menu-item">Учётная запись</a></li>
                    <ul class="dropdown-content">
                        <li><a th:href="@{/student/studentProfile/{id}(id=${staticStudent.id})}" class="menu-item">Профиль</a></li>
                        <li><a th:href="@{/studentAddCourse}" class="menu-item">Записаться на курс</a></li>
                        <li><a th:href="@{/studentReport}" class="menu-item">Оставить отзыв</a></li>
                        <li><a th:href="@{/studentRating}" class="menu-item">Рейтинг студентов</a></li>
                        <li><a th:href="@{/studentRateTeachers}" class="menu-item">Оценить преподавателя</a></li>
                        <li><a th:href="@{/ratingDiagram}" class="menu-item">Самые популярные курсы</a></li>
                    </ul>
                </div>
                <li><a th:href="@{/mainPage}" class="menu-item">Выйти</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section" id="mainSelection"></section>

        <script th:inline="javascript">
            var myChart = echarts.init(document.getElementById('mainSelection'));
            /*<![CDATA[*/
            var rating = /*[[${course}]]*/;
            /*]]>*/
            var obj = [];
            for(key in rating){
                obj.push({value:rating[key],name:key});
            }
            option = {
                series:[
                    {
                        type:'pie',
                        data:obj
                    }
                ]
            };
            myChart.setOption(option);
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </main>
</div>
</body>
</html>