<!DOCTYPE html>
<html lang="rus" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>СиТАиРИС</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div class="container">
    <header>
        <nav class="nav-class1">
            <ul class="list-menu1">
                <li><a th:href="@{/studentMainPage}" class="menu-item">MoveRight</a></li>
            </ul>
        </nav>
        <nav class="nav-class">
            <ul class="list-student-menu">
                <li><a th:href="@{/studentMainPage#education}" class="menu-item">Обучение</a></li>
                <li><a th:href="@{/studentMainPage#teachers}" class="menu-item">Преподаватели</a></li>
                <li><a th:href="@{/studentMainPage#reports}" class="menu-item">Отзывы</a></li>
                <div class="dropdown">
                    <li><a th:href="@{#}" class="menu-item">Учётная запись</a></li>
                    <ul class="dropdown-content">
                        <li><a th:href="@{/student/studentProfile/{id}(id=${staticStudent.id})}" class="menu-item">Профиль</a></li>
                        <li><a th:href="@{/studentAddCourse}" class="menu-item">Записаться на курс</a></li>
                        <li><a th:href="@{/studentReport}" class="menu-item">Оставить отзыв</a></li>
                        <li><a th:href="@{/studentRating}" class="menu-item">Рейтинг студентов</a></li>
                    </ul>
                </div>
                <li><a th:href="@{/mainPage}" class="menu-item">Выйти</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section" id="mainSelection">
            <div class="delete_table">
                <div class="reports-item">
                    <table id="delete_table">
                        <tr>
                            <th>Название курса</th>
                            <th>Преподаватель</th>
                            <th>Имя студента</th>
                            <th>Номер задания</th>
                            <th>Оценка</th>
                        </tr>
                        <div th:each="score: ${scoreL}">
                            <tr>
                                <td th:text="${score.studentCourse.course.courseName}"></td>
                                <td th:text="${score.studentCourse.course.teacher.name}+ ' ' +${score.studentCourse.course.teacher.lastName}"></td>
                                <td th:text="${score.studentCourse.student.name}+ ' ' +${score.studentCourse.student.lastName}"></td>
                                <td th:text="${score.task}"></td>
                                <td th:text="${score.grade}"></td>
                            </tr>
                        </div>
                    </table>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</div>
</body>
</html>