<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>СиТАиРИС</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div class="container">
    <header>
        <nav class="nav-class1">
            <ul class="list-menu1">
                <li><a th:href="@{studentMainPage}" class="menu-item">MoveRight</a></li>
            </ul>
        </nav>
        <nav class="nav-class">
            <ul class="list-student-menu">
                <li><a th:href="@{studentMainPage#education}" class="menu-item">Обучение</a></li>
                <li><a th:href="@{studentMainPage#teachers}" class="menu-item">Преподаватели</a></li>
                <li><a th:href="@{studentMainPage#reports}" class="menu-item">Отзывы</a></li>
                <div class="dropdown">
                    <li><a th:href="@{#}" class="menu-item">Учётная запись</a></li>
                    <ul class="dropdown-content">
                        <li><a th:href="@{/student/studentProfile/{id}}" class="menu-item">Профиль</a></li>
                        <li><a href="#" class="menu-item">Записаться на курс</a></li>
                        <li><a href="#" class="menu-item">Оставить отзыв</a></li>
                        <li><a href="#" class="menu-item">Рейтинг</a></li>
                    </ul>
                </div>
                <li><a th:href="@{mainPage}" class="menu-item">Выйти</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section" id="mainSelection">
            <div id="question">
                <form th:action="@{/student/studentProfile/{id}(id=${currentStudent.id})}" th:method="PATCH">
                    <p>Хотите изменить текущие данные?</p>
                    <p class="registration_field">
                        Логин <input type="text" th:field="*{currentStudent.users.login}" placeholder="Логин" required/>
                    </p>
                    <p class="registration_field">
                        Пароль <input type="text" th:field="*{currentStudent.users.password}" placeholder="Пароль" required/>
                    </p>
                    <p class="registration_field">
                        Имя <input type="text" th:field="*{currentStudent.name}" placeholder="Имя" required/>
                    </p>
                    <p class="registration_field">
                        Фамилия <input type="text" th:field="*{currentStudent.lastName}" placeholder="Фамилия" required/>
                    </p>
                    <p class="registration_field">
                        Почта <input id="pass610" type="email" th:field="*{currentStudent.email}" placeholder="Почта" required/>
                    </p>
                    <p class="save_field">
                        <input type="submit" value="Сохранить" />
                    </p>
                </form>
            </div>
        </section>
    </main>
</div>
</body>
</html>