<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>СиТАиРИС</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div class="container">
    <header>
        <nav class="nav-class1">
            <ul class="list-menu1">
                <li><a th:href="@{/studentMainPage}" class="menu-item">MoveRight</a></li>
            </ul>
        </nav>
        <nav class="nav-class">
            <ul class="list-student-menu">
                <li><a th:href="@{#education}" class="menu-item">Обучение</a></li>
                <li><a th:href="@{#teachers}" class="menu-item">Преподаватели</a></li>
                <li><a th:href="@{#reports}" class="menu-item">Отзывы</a></li>
                <div class="dropdown">
                <li><a th:href="@{#}" class="menu-item">Учётная запись</a></li>
                    <ul class="dropdown-content">
                        <li><a th:href="@{/student/studentProfile/{id}(id=${staticStudent.id})}" class="menu-item">Профиль</a></li>
                        <li><a th:href="@{/studentAddCourse}" class="menu-item">Записаться на курс</a></li>
                        <li><a th:href="@{/studentReport}" class="menu-item">Оставить отзыв</a></li>
                        <li><a th:href="@{/studentRating}" class="menu-item">Рейтинг студентов</a></li>
                        <li><a th:href="@{/studentRateTeachers}" class="menu-item">Оценить преподавателя</a></li>
                        <li><a th:href="@{/ratingDiagram}" class="menu-item">Самые популярные курсы</a></li>
                    </ul>
                </div>
                <li><a th:href="@{/mainPage}" class="menu-item">Выйти</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section" id="mainSelection">
            <h1 id="greetings" >Добро пожаловать, <a th:text="${staticStudent.lastName}+ ' ' +${staticStudent.name} + '!'"></a></h1>
            <a th:href="@{/questionnairePage}" class="menu-item" id="questionnaire_but">Заполнить анкету</a>
        </section>
        <section class="section" id="education">
            <div class="title-wrapper">
                <h2 class="title">Обучение</h2>
            </div>
            <div class="reports-item">
                <table class="student_table">
                    <tr>
                        <th>Название курса</th>
                        <th>Язык программирования</th>
                        <th>Продолжительность (в месяцах)</th>
                        <th>Преподаватель</th>
                    </tr>
                    <div th:each="course: ${courses}">
                        <tr>
                            <td th:text="${course.courseName}"></td>
                            <td th:text="${course.language}"></td>
                            <td th:text="${course.duration}"></td>
                            <td th:text="${course.teacher.name} + ' ' + ${course.teacher.lastName}"></td>
                        </tr>
                    </div>
                </table>
                <p id="login">
                    <input id="languageCourse" type="text" placeholder="Введите название языка" />
                    <input onclick="findCourse()" type="submit" value="НАЙТИ" />
                </p>
            </div>
        </section>
        <section class="section" id="teachers">
            <div class="title-wrapper">
                <h2 class="title">Преподаватели</h2>
            </div>
            <div class="reports-item">
                <table class="student_table">
                    <tr>
                        <th>Имя преподавателя</th>
                        <th>Стаж (в годах)</th>
                        <th>Рейтинг</th>
                        <th>О себе</th>
                    </tr>
                    <div th:each="teacher: ${teachers}">
                        <tr>
                            <td th:text="${teacher.name} + ' ' + ${teacher.lastName}"></td>
                            <td th:text="${teacher.experience}"></td>
                            <td th:text="${teacher.rating}"></td>
                            <td th:text="${teacher.additionalInfo}"></td>
                        </tr>
                    </div>
                </table>
            </div>
        </section>
        <section class="section" id="reports">
            <div class="title-wrapper">
                <h2 class="title">Отзывы</h2>
            </div>
            <div class="reports-item" th:each="comment : ${list}">
                <p id="text_center" th:text="*{comment.comment}"></p>
            </div>
        </section>

    </main>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var data = /*[[${courses}]]*/; //list
    /*]]>*/
    function findCourse(){
        let word = $('#languageCourse').val();
        let filteredData = [];
        for(let i=0;i<data.length;i++){
            if(data[i].language == word){
                filteredData.push(data[i]);
            }
        }
        if(filteredData.length!=0)
        {
            for(let i=0;i<filteredData.length;i++) {
                alert("Название курса:   " + filteredData[i].courseName + "\n" +
                    "Язык программирования:   " + filteredData[i].language + "\n" +
                    "Продолжительность (в месяцах):   " + filteredData[i].duration + "\n" +
                    "Преподаватель:   " + filteredData[i].teacher.name + ' ' + filteredData[i].teacher.lastName);
            }

        }
        else
            alert('Такого курса не найдено... Введите данные ещё раз');
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>